@import "tailwindcss" theme(static);
@source "../views/";
@source "../../app/";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme{
  --color-primary: #04042E;
  --color-secondary: #02021E;
  --color-hover: #000000;
  --color-wedding: #02021E;
}

body{
  font-family: 'Times New Roman', Times, serif;
}
#main{
  margin-top: 89px;
}

.holographic-card {
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: all 1.5s ease;
}

/* .holographic-card::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 230%;
  height: 230%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 20%,
    rgba(9, 72, 167, 0.7)
  );
  transform: rotate(-45deg);
  transition: all 0.7s ease;
  opacity: 0;
} */

.holographic-card img {
  transition: transform 1s ease;
}
.holographic-card img:hover {
  transform: scale(1.2);
}

/* .holographic-card:hover::before {
  opacity: 1;
  transition: all 0.7s ease;
  transform: rotate(-45deg) translateY(100%);
} */

a{
  text-decoration: none;
}

.contact_bg{
  background-color: #02021E;
}

.contact_height{
  height: 50px;
}

.country-list{
  color: black;
}

/* home page css  */
/* #hero-section{
  background-image: url("../images/home/home-banner.png");
} */
/* #appointment{
  background-image: url("../images/home/appointment.png");
} */

/* about page css  */
/* #about-hero{
  background-image: url("../images/about/about-hero.png");
} */

/* #mastery-image{
  background-image: url('../images/about/mastery.png');
} */

/* manswear page css  */
/* #manswear-hero-section{
  background-image:url('../images/manswear/manswear-hero.png');
} */

